.ws-list .ws-item {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    word-break: break-all;

    // .message-list {
    //     .message-item {
            
    //     }
    // }
}
